extends ../../layouts/default

block head
  title Editor
  link(href='/media/processingjs.css' rel='stylesheet')
  script(src='https://togetherjs.com/togetherjs-min.js')

block feet
  script(src='/views/login/index.min.js?#{cacheBreaker}')

block body
  b Foo !{sketch.id}
  div#context_menu
  div#block_menu_load
    | Loading...
  div#block_menu
    div(class='workspace blockview')
      div.tabbar
        div(class='scripts_workspace_tab chrome_tab selected')
          | Script Blocks
        div(class='scripts_text_view_tab chrome_tab')
          | Script Text
      div.scripts_text_view
  div(class="content result")
    div.stage
      iframe(id='preview_iframe' class='stageframe' width='100%' height='100%')
  svg
    text
  script(src='/media/processingjs.js')



