extends ../layouts/default

block head
  title Waterbear Playground

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    p.lead
      h1(style='font-size: 50px') Code in ProcessingJS using just blocks.
      div
        a.btn.btn-primary.btn-lg(href='/sketch/lines?gist=7405233') Get started!
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Mouse Click
          a(href='/sketch/mouse_click?gist=7405259')
            img(src='/media/demos/mouse_click.png'  class='img_init')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Lines
          a(href='/sketch/lines?gist=7405233')
            img(src='/media/demos/if_else_lines.png' class='img_init')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Ellipses
          a(href='/sketch/ellipses?gist=7405241')
            img(src='/media/demos/little_ellipses.png' class='img_init')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 No fill
          a(href='/sketch/no_fill?gist=7405280')
            img(src='/media/demos/noFill.png' class='img_init')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Transform
          a(href='/sketch/transforms_colors?gist=7405281')
            img(src='/media/demos/transforms.png'  class='img_init')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Transform Colors
          a(href='/sketch/transforms?gist=7405286')
            img(src='/media/demos/transforms_colors.png'  class='img_init')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Mouse Rectangles
          a(href='/sketch/mouse_rect?gist=7405262')
            img(src='/media/demos/mouse_rect.png' class='img_init')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Variables
          a(href='/sketch/variables?gist=7405289')
            img(src='/media/demos/variables.png' class='img_init')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Rectangle
          a(href='/sketch/rectangle?gist=7405379')
            img(src='/media/demos/variables.png' class='img_init')
