extends ../layouts/default

block head
  title Waterbear Playground

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    p.lead
      h2 Code in ProcessingJS using just blocks.
      br
      div
        a.btn.btn-primary.btn-lg(href='/signup/') Get started!
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Mouse Click
          img(src='/media/demos/mouse_click.png' href='/demos/mouse_click.json')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Lines
          img(src='/media/demos/if_else_lines.png')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Ellipses
          img(src='/media/demos/ittle_ellipses.png')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 No fill
          img(src='/media/demos/noFill.png')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Transform
          img(src='/media/demos/transforms_colors.png')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Transform Colors
          img(src='/media/demos/transforms.png')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Mouse Rectangles
          img(src='/media/demos/mouse_rect.png')
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Variables
          img(src='/media/demos/variables.png')
