extends ../../layouts/default

block head
  title About Us

block neck
  link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-8
      div.page-header
        h1 About Us
      div.media
        a.pull-left(href='#')
        div.media-body
          h4.media-heading Gabriela Thum&eacute 
          p A computer girl which loves to experiment with needles, seam, craft, circuits and algorithms.
          a(href='http://tecendobits.cc/about.html') TecendoBits
      div.media.text-right
        a.pull-right(href='#')
        div.media-body
          h4.media-heading Vilson Vieira 
          p Tries to mixin computer science with art, specially music, searching for alternative ways to compose and interpret, being these ways made of software or hardware. 
          a(href='http://automata.cc/bio') Automata
